<body class="about">

  <div id="about_intro">
      <h2> By the end of the night you'll be a SuprStar</h2>
      <h3> Want to see a karaoke party manage it self? </h3>
      <h3> Want to sign up to sing without getting out of your seat? </h3>
      <h3> Want to know how people feel about your performance? </h3>
      <h3> Now you can! </h3>
  </div>

</body>
