<div id="about_intro">
    <h1 class="about_title"> By the end of the night you'll be a SuprStar</h1>
    <h2> Want to see a karaoke party manage it self? </h2><br>
    <h2> Want to sign up to sing without getting out of your seat? </h2><br>
    <h2> Want to know how people feel about your performance? </h2><br>
    <h2> Now you can! </h2><br>
    <h2> SuprStar is the superstar of karaoke apps! <h2>
</div>

<div id="about_story">
  <h1 class="about_title">Our Story</h1>
  <h2> SuprStar came to life as a result of our experience with hosting karaoke events at DevBootcamp NYC. Karaoke has grown to become a phase tradition. Every 3 weeks when a new cohort came in we would host a karaoke event that Friday. To track who was going when we would use a whiteboard and when it was our turn to sing we would have to go up and search youtube ourselves for the right video. Now that is done for us!</h2>
</div>

<div id="about_team">
  <h1 class="about_title">Our Team</h1>
  <div class="team_member first_member">
    <h2>Kenneth Mendonca</h2>
      <div id="ken">
        <a href="https://www.linkedin.com/profile/view?id=317452213&authType=NAME_SEARCH&authToken=EwrF&locale=en_US&trk=tyah2&trkInfo=tarId%3A1406657823314%2Ctas%3Akai%20prou%2Cidx%3A1-1-1"> LinkedIn</a>
        <a href="https://github.com/mendoncakr"> Github</a>
        <a href="mendoncakr@gmail.com"> Email</a>
      </div>
      <br>
      <div class="favorite_karaoke_song">
        <br>
        <h2>Favorite Karaoke Song</h2>
        <h3> Put Song Here</h3>
        <h3> Put Song Here</h3>
        <h3> Put Song Here</h3>
        <br>
      </div>
    </div>
  </div>
  <div class="team_member second_member">
    <h2>Kai Prout</h2>
      <div id="kai">
        <a href="https://www.linkedin.com/profile/view?id=317452213&authType=NAME_SEARCH&authToken=EwrF&locale=en_US&trk=tyah2&trkInfo=tarId%3A1406657823314%2Ctas%3Akai%20prou%2Cidx%3A1-1-1"> LinkedIn</a>
        <a href="https://github.com/kaiprt"> Github</a>
        <a href="kaiprt@gmail.com"> Email</a>
      </div>
      <br>
      <div class="favorite_karaoke_song">
        <br>
        <h2>Favorite Karaoke Song</h2>
        <h3> Put Song Here</h3>
        <h3> Put Song Here</h3>
        <h3> Put Song Here</h3>
        <br>
      </div>
    </div>
  </div>
  <div class="team_member third_member">
    <h2>John Quigley</h2>
      <div id="john">
        <a href="https://www.linkedin.com/profile/view?id=175450258&trk=nav_responsive_tab_profile"> LinkedIn</a>
        <a href="https://github.com/quigproquo"> Github</a>
        <a href="johnpeterquigley@gmail.com"> Email</a>
      </div>
      <br>
      <div class="favorite_karaoke_song">
        <h2>Favorite Karaoke Song</h2>
        <br>
        <h3> Put Song Here</h3>
        <h3> Put Song Here</h3>
        <h3> Put Song Here</h3>
        <br>
      </div>
    </div>
  </div>
</div>
