<header><h1>SuprStar Me</h1></header>
<div class="home">




  <div id="create_party">
    <button id="toForm">Create Party</button>
  </div>
  <div id="partyForm">
      <%= render 'form' %>
  </div>

  <!-- <%= render '/shared/errors', :target => @user %> -->



</div>
