
<div class="home">
  <h1 class="welcome"></h1>

  <div id="create_party">
    <button class="button" id="toForm">Create Party</button>
  </div>


  <div id="partyForm">
    <%= render 'form' %>
  </div>

</div>
