<div id="instructions">
    <div id="create_party">
      <h2>How To Create A Party!</h2>
      <h3> 1) Create a hashtag like this: #SuprStar  </h3>
      <h3> 2) Fill Out Your Name like this: Matt Bunday</h3>
      <h3> 3) Fill Out Your Phone Number like this: 123-456-7890</h3>
      <h3> 4) Fill Out The First Song You Would Like To Sing: Justin Timberlake Suit & Tie <h3>
    </div>
    <div>
      <h2>How To Text!</h2>
      <h3> - Text: #YourHashTag , Your Name , Your Song & Artist (With Commas) </h3>
      <h3> - Text: 1 Your Next Song Here </h3>
      <h3> - Text: 2 Your Commentary Here </h3>
    </div>
</div>
