<body class="show">

<div id="container">

  <div class="videoContainer">
    <div id="videoPlayer"></div>
    <button class="button" id="start">Start!</button>
    <br>
    <button class="button" id="next">Next Star!</button>
  </div>


  <div id="right_side">
    <div id="comments">
      <h2>Comments</h2>
      <ul class="comment">
      <%# @comments.each do |comment| %>
      <!-- <li  data-time="<%#= comment.created_at.to_i%>"> -->
        <%#= comment.content %>
        <%#= comment.user.name %>
      </li>
      <%# end %>
      </ul>
    </div>



    <div id="songlist">
      <h3>Songlist</h3>
    </div>
  </div>

</div>

</body>
