<body class="team">
  <div id="about_story">
    <h2>Our Story</h2>

    <p> SuprStar is a web based and mobile interactive application that allows users to sing karaoke at ease by allowing you to host your own party anywhere and anytime. We were inspired by the DevBootcamp tradition of tri-weekly karaoke and aimed to simplifiy the process so anyone could enjoy the party.
    </p>
  </div>


  <div class="team_photos">

    <div class='team-member'>
      <div id="john">
        <img id="john_pic"src="https://avatars0.githubusercontent.com/u/6843902?v=1&s=400" alt="">
        <p>John Quigley</p>
      </div>
    </div>

  <div class='team-member'>
    <div id="ken">
      <img src="images/ken.jpeg" alt="">
      <p>Kenneth Mendonça</p>
    </div>
  </div>

  <div class='team-member'>
    <div id="kai">
      <img src="images/kai.jpeg" alt="">
      <p>Kai Prout  </p>
    </div>
  </div>

  </div>

</body>
