/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
}

 nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 100px;
  -webkit-transition: height 0.3s linear;
  -moz-transition: height 0.3s linear;
  transition: height 0.3s linear;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  box-shadow: 0 0 18px #91bd09;

}
nav h1 {
  font-size: 1em;
  float: left;
  line-height: 75px;
  font-size: 50px;
  padding-top: 10px;
  padding-left: 20px;
}
nav ul li {
  display: inline;
  padding-top: 15px;
  float: right;
  font-family: 'Droid Sans', sans-serif;
  font-size: 2em;
  padding-right: 20px;
  color: white;
}

li .links:hover {
  text-decoration: none;
  text-color: white;
}


meter {

  display: block;
  margin: 0 auto;

  width: 550px;
  height: 25px;

  border: 1px solid #ccc;
  border-radius: 3px;

}
