
.home {
  z-index: -9;
  height: 100%;
  width:100%;
  text-align:center;
  // background: url('Microphoneflipped.jpg') no-repeat center;
  // background: url('http://cdn.desktopwallpapers4.me/wallpapers/music/1920x1200/1/6780-microphone-1920x1200-music-wallpaper.jpg') no-repeat center;
  background: url('/images/bcg.jpg') no-repeat center;
  background-size:cover;
  position: fixed;
  left:0;
  top: 0;
  overflow: hidden;
}

a:hover , a:link , a:visited{
  color: white;
  text-decoration: none;
}

.welcome{
  margin-top: 120px;
  margin-bottom: 0px;
  // text-align: center;
  float: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 8.5vw;
  float: right;
  position: relative;
  align:right;
  margin-top: 0;
  padding-right: 5%;
  clear:both;
  // position: fixed;

}

.error {
  color:red;
}

.home .button{
  border: none;
  text-shadow: 0px 0px 0px #666666;
  box-shadow: 0 0 18px #91bd09;
  border-radius: 5px;
  color: #ffffff;
  font-size: 31px;
  font-style: italic;
  // background: #666666;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0 auto;
}

.show .button {
  border: none;
  text-shadow: 0px 0px 0px #666666;
  color: #ffffff;
  font-size: 20px;
  background: #666666;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0 auto;
}

// .home .button:hover  {
//   background: #97a0a6;
//   text-decoration: none;
// }

input {
  border: none;
  text-shadow: 0px 0px 0px #666666;
  color: #ffffff;
  font-size: 31px;
  // background: #666666;
  background-color: rgba(0,0,0, 0.8);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0 auto;
}

.home #create_party {
  font-size: 4vw;
  // border: 1px solid white;
  color:gray;
  font-weight: bold;
  text-align: center;
  // margin-top: ;
  // width:20%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  // margin-left: 60%;
}

#partyForm{
  margin: 0 auto;
}

form {
  float: top;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.6em;
  color: white;
}

input {
  border-radius: 5px;
}

input #submit{

  // border-radius: 5px;
  margin-top: 10px;
  font-size: 1.8em;
  padding: 10px 12px;
  height: 21px;
  width: 420px;
}

::-webkit-input-placeholder {
   font-size: .7em;
   color: #91bd09;
   line-height: 37px;
}

/*// SHOW PAGE*/

.show .queue{
  padding: 0;
  text-align: center;
  overflow: auto;
  list-style: none;
  height: 380px;
}

.show .queue li {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  // color: green;
  box-shadow: 0 0 10px gray;
  white-space: nowrap;
  box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  font-size: 1.5vw;
  background-color: rgba(0, 0, 0, 0.8);
  // animation: marquee 50s linear infinite;
}

// .show .queue li:first-child {
  //   background-color: green;
  //   // color: ;
  // }
  //
  // .show .queue li:nth-child(2) {
    //   background-color: red;
    //   // color: ;
    // }

    .show #comments {
      height: 300px;
    }

    .show .comment {
      padding: 0;
      text-align: center;
      overflow: auto;
      list-style: none;
    }

    .show .comment li {
      width: 100%;
      height: 60px;
      line-height: 60px;
      margin: 0 auto;
      font-size: 1.5vw;
      background-color: rgba(0, 0, 0, 0.5)
    }

    .show #container {
      width: 100%;
      display: inline-block;
    }
    .show .videoContainer {
      margin: 0 auto;
      height: 50%;
      // background-color: red;
      // padding-bottom: 40%
    }

    .show #videoPlayer{
      left: 0;
    }

    .show {
      color: white;
      z-index: -9;
      height: 100%;
      width:100%;
      text-align:center;
      position: fixed;
      left:0;
      top: 0;
      overflow: hidden;
    }

    .background{
      z-index: -99;
      background: url('/images/bcg2.jpg') no-repeat fixed center;
      background-size: cover;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width:100%;
    }

    .show #container {
      margin-top: 100px;

    }

    .show #joinText {

    }

    .show #top_right_side {
      float: right;
      padding-right: 2.5%;
      width:25%;
    }

    .show #right_side {
      float: right;
      width: 25%;
      padding-right: 2.5%;
    }

    .show h2 {
      margin: 0px;
      font-size: 1.5vw;
    }

    .show h3 {
      margin: 0px;
      font-size: 1.1vw;
    }

    #songlist {
      float: top;
      height: 380px;
    }

    #comments {
      float: bottom;
    }

    .show #left_side {
      float: left;
      width: 65%;
    }
    .show .videoContainer {
      padding-top: 50px;
      // background-color: white;
    }

    .show #comments {
      // border: 2px dotted red;
    }

    .show #songlist {
      // background-color: blue;
      // border: 2px dotted white;
    }


    /*About page*/

    .about {
      color: white;
      z-index: -9;
      height: 100%;
      width:100%;
      text-align:center;
      background: url('http://hotdot.pro/static/img/bck.png') no-repeat fixed center;
      background-size: cover;
      position: fixed;
      left:0;
      top: 0;
      overflow: hidden;

      #about_intro {
        margin-top: 10%;
        font-size: 0.9em;
      }

      #about_intro h2 {
        margin-top: 120px;
        font-family: 'Oswald', sans-serif;
        font-size: 3.5vw;
        color:white;
      }

      #about_intro h3 {
        font-family: 'Droid Sans', sans-serif;
        font-size: 1.5vw;
        color:white;
      }
    }

    .team {
      color: white;
      /*z-index: -9;*/
      height: 100%;
      width:100%;
      text-align:center;
      background: url('http://hotdot.pro/static/img/bck.png') no-repeat fixed center;
      background-size: cover;
      /*position: fixed;*/
      /*  left:0;
      top: 0;
      overflow: hidden;*/

      #about_story {

        margin: 0 auto;
        width: 50%;
        font-size: 0.5em;
        padding-left: 5%;
        padding-right: 5%;
      }

      #about_story h2 {
        margin-top: 120px;
        font-family: 'Oswald', sans-serif;
        font-size: 3.5vw;
        color:white;
      }
      #about_story p {
        font-family: 'Droid Sans', sans-serif;
        font-size: 1.5vw;
        color:white;
      }

      .team_photos {
        width: 55%;
        margin: 0 auto;
      }

      img {
        width: 100%;
        border-radius: 50%;
      }

      .team-member{
        width:33%;
        float: left;

        p {
          font-family: 'Droid Sans', sans-serif;
          font-size: 1.5vw;
        }
      }

      #john {
        height: 200px;
        width: 200px;
        /*background-color: blue;*/
        float: left;
        margin: 0;
        /*position: absolute;*/
        /*left: 0;*/
      }
      #ken {
        height: 200px;
        width: 200px;
        /*background-color: yellow;*/
        margin: 0 auto;
      }

      #kai {
        height: 200px;
        width: 200px;
        /*background-color: orange;*/
        /*position: absolute;*/
        float: right;
        /*right: 0;*/
        margin: 0;
        position: relative;
        top: 0;
      }


    }



    //  ************** Instructions *****************
    .instructions {
      z-index: -9;
      height: 100%;
      width:100%;
      text-align:center;
      background: url('http://hotdot.pro/static/img/bck.png') no-repeat center;
      background-size:cover;
      position: fixed;
      left:0;
      top: 0;
      overflow: hidden;

    }

    .instructions #create_party{
      font-size: 1.5vw;
      color:gray;
      font-weight: bold;
      text-align: center;
      margin-top: 100px;
      margin-left: 0 auto;
      margin-right: 0 auto;
  }

    #text_instructions, #party_instructions {
      font-family: 'Droid Sans', sans-serif;
      font-size: 1.5vw;
      color:white;
    }

    #create_party h2 {
      font-family: 'Oswald', sans-serif;
      color: white;
      font-size: 3.5vw;
    }

    // **********************************************
