// Place all the styles related to the party controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
    z-index: -9000;
    height: 100%;
    width:100%;
    text-align:center;
    // background: url('Microphoneflipped.jpg') no-repeat center;
    background: url('http://cdn.desktopwallpapers4.me/wallpapers/music/1920x1200/1/6780-microphone-1920x1200-music-wallpaper.jpg') no-repeat center;
    background-size:cover;
    position: fixed;
    left:0;
    top: 0;
    overflow: hidden;
    }

h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 8.5vw;
  float: right;
  position: relative;
  align:right;
  margin-top: 0;
  padding-right: 5%;
  clear:both;
  // position: fixed;

}
// div {
//   background-color:white;
// }
#create_party {
  font-size: 4vw;
  // border: 10px solid white;
  color:gray;
  font-weight: bold;
  text-align: center;
  margin-top: 25%;
  width:20%;
  margin-left:auto;
  margin-right:auto;
  margin-left: 60%;
}

#partyForm{
  width: 30%;
  margin: 0 auto;
}
form {
  font-family: 'Droid Sans', sans-serif;
  font-size: 2em;
  color:white;
}

input {
  border-radius: 50px;
}
