// Place all the styles related to the party controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home {
    z-index: -9;
    height: 100%;
    width:100%;
    text-align:center;
    // background: url('Microphoneflipped.jpg') no-repeat center;
    // background: url('http://cdn.desktopwallpapers4.me/wallpapers/music/1920x1200/1/6780-microphone-1920x1200-music-wallpaper.jpg') no-repeat center;
    background: url('http://hotdot.pro/static/img/bck.png') no-repeat center;
    background-size:cover;
    position: fixed;
    left:0;
    top: 0;
    overflow: hidden;

    }

h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 8.5vw;
  float: right;
  position: relative;
  align:right;
  margin-top: 0;
  padding-right: 5%;
  clear:both;
  // position: fixed;

}

.error {
  color:red;
}

.home .button {
  text-shadow: 0px 0px 0px #666666;
  color: #ffffff;
  font-size: 31px;
  background: #666666;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0 auto;
}

.home .button:hover  {
  background: #97a0a6;
  text-decoration: none;
}


.home #create_party {
  font-size: 4vw;
  // border: 1px solid white;
  color:gray;
  font-weight: bold;
  text-align: center;
  margin-top: 20%;
  // width:20%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  // margin-left: 60%;
}

#partyForm{
  margin: 0 auto;
}
form {
  font-family: 'Droid Sans', sans-serif;
  font-size: 2em;
  color:white;
}

input {
  // border-radius: 5px;
  font-size: 18px;
  padding: 8px 10px;
  height: 21px;
  width: 377px;
}

// SHOW PAGE

.show #container {
  width: 100%;
  display: inline-block;
  // background-color:black;
}
.show .videoContainer {
  margin: 0 auto;
  height: 50%;
  // background-color: red;
  padding-bottom: 40%
}

.show #videoPlayer{
  left: 0;
}

.show {
    color: white;
    z-index: -9;
    height: 100%;
    width:100%;
    text-align:center;
    background: url('http://hotdot.pro/static/img/bck.png') no-repeat fixed center;
    background-size: cover;
    position: fixed;
    left:0;
    top: 0;
    overflow: hidden;
}
.show #container {
  margin-top: 12.5%

}

.show #top_right_side {
  float: right;
  padding-right: 2.5%;
  width:25%;
}

.show #right_side {
  float: right;
  width: 25%;
  padding-right: 2.5%;
}

.show h2 {
  margin: 0px;
  font-size: 1.5vw;
}

.show h3 {
  margin: 0px;
  font-size: 1.1vw;
}

#songlist {
float: top;
padding-bottom: 45%
}

#comments {
  float: bottom;
  padding-bottom: 45%
}

.show #left_side {
  float: left;
  width: 65%;
}
.show .videoContainer {
  padding-top: 100px;
  background-color: white;
}

.show #comments {
  background-color:yellow;
  background-color: rgba(200, 54, 54, 0.5);
}

.show #songlist {
  background-color: blue;
}


//  ************** Instructions *****************
.instructions {
    z-index: -9;
    height: 100%;
    width:100%;
    text-align:center;
    background: url('http://hotdot.pro/static/img/bck.png') no-repeat center;
    background-size:cover;
    position: fixed;
    left:0;
    top: 0;
    overflow: hidden;

    }

.instructions #create_party{
  font-size: 1.5vw;
  // border: 1px solid white;
  color:gray;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
  // width:20%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  // margin-left: 60%;
  margin-bottom: 10%;
}

#text_instructions, #party_instructions {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.5vw;
  color:white;
}

#create_party h2 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 3.5vw;
}



// **********************************************
